/* @import 'index.css'; */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar {
  background-color: rgb(119, 7, 7);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-column> .active{
  border-left: 2px solid #000 !important;
}
.flex-column a:hover{
  border-left: 2px solid #ddd;
}

@media (min-width: 1200px) {
 .container{
  max-width: 900px !important;
 }
}

.light{
  background-color: white;
  border: 15px solid green
}
.white{
  background-color: white;
  border: 4px solid rgb(165, 151, 241);
}
.red{
background-color: red;
border: 4px solid rgb(46, 16, 214);
}
.green{
  background-color: green;
  border: 4px solid rgb(6, 243, 184);
}
.yellow{
  background-color: yellow;
  border: 4px solid black;
  
}
